# Ignore everything
*

# But not Java files...
!.gitignore
!*.java
!README.md
!LICENSE
!gradlew.bat
!gradlew
!build.gradle.kts
!.travis.yml
!settings.gradle
!*.lua
!gradle/wrapper/gradle-wrapper.properties
!gradle/wrapper/gradle-wrapper.jar

# ...even if they are in subdirectories
!*/
