# Ignore everything
*

# But not Java files...
!.gitignore
!*.java
!README.md
!LICENSE
!gradlew.bat
!gradlew
!build.gradle.kts
!.travis.yml
!settings.gradle
!checkstyle.xml
!.codeclimate.yml
!experiments/**


# ...even if they are in subdirectories
!*/
/src/main/java/ru/mail/polis/service/vovasq/BlockingService.java
/src/main/java/ru/mail/polis/service/vovasq/AsyncService.java
